In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt # we only need pyplot
sb.set() # set the default Seaborn style for graphics

In [2]:
pd.options.display.precision = 3

### Convert a xlsx file with multiple sheets to csv files.

In [3]:
data = pd.read_excel('data/GPI-2021-overall-scores-and-domains-2008-2021.xlsx', sheet_name=None)

# loop through the dictionary and save csv
for sheet_name, df in data.items():
    df.to_csv(f'data/{sheet_name}.csv')
    print(sheet_name + "\n")

Overview

Overall Scores

Safety and Security

Militarisation

Ongoing Conflict

### Import overall happiness score data

In [4]:
GPI_Overall = pd.read_csv("data/Overall Scores.csv")
GPI_Overall.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
2,2,Country,iso3c,2008.000,2009,2010.000,2011.000,2012.000,2013.000,2014.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Afghanistan,AFG,3.129,3.27,3.121,3.122,3.241,3.336,3.303,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Albania,ALB,1.860,1.838,1.833,1.859,1.898,1.920,1.900,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Clean the dataframe

In [5]:
copied_columns = GPI_Overall.iloc[2, 3:15].astype(np.int64)
GPI_OA_col = GPI_Overall.iloc[2, 0:3]
GPI_OA_col = GPI_OA_col.append(copied_columns)

GPI_Overall = GPI_Overall.iloc[:,:15]
GPI_Overall.columns = GPI_OA_col
GPI_Overall = GPI_Overall.iloc[:,1:]
GPI_Overall = GPI_Overall.iloc[3:]
GPI_Overall.reset_index(inplace=True)
GPI_Overall.head()

2,index,Country,iso3c,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,3,Afghanistan,AFG,3.129,3.27,3.121,3.122,3.241,3.336,3.303,3.392,3.437,3.484,3.548,3.569
1,4,Albania,ALB,1.860,1.838,1.833,1.859,1.898,1.920,1.900,1.897,1.845,1.862,1.789,1.764
2,5,Algeria,DZA,2.322,2.337,2.373,2.516,2.449,2.384,2.278,2.263,2.247,2.235,2.232,2.240
3,6,Angola,AGO,2.047,2.038,2.038,2.091,2.123,2.078,2.059,1.956,2.024,1.956,2.031,2.019
4,7,Argentina,ARG,1.883,1.998,2.023,2.019,1.974,2.106,2.015,2.085,2.089,2.005,1.952,1.987

### Import and clean the happiness index data

In [6]:
happiness_2019 = pd.read_csv("data/2019.csv", header=None)

In [7]:
happiness_2019.head()

,0,1,2,3,4,5,6,7,8
0,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
1,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
2,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
3,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
4,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118

In [8]:
happiness_2019.columns = happiness_2019.iloc[0]
happiness_2019 = happiness_2019[1:]
happiness_2019.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
1,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
2,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
3,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
4,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
5,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [9]:
happiness_2019 = happiness_2019.sort_values(by=["Country or region"])
happiness_2019["Country or region"] = happiness_2019["Country or region"].str.strip()
happiness_2019.rename(columns={"Country or region" : "Country"}, inplace=True)
happiness_2019.reset_index(inplace=True)
happiness_2019 = happiness_2019.iloc[:, 1:]

In [10]:
happiness_2019.head()

,Overall rank,Country,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025
1,107,Albania,4.719,0.947,0.848,0.874,0.383,0.178,0.027
2,88,Algeria,5.211,1.002,1.160,0.785,0.086,0.073,0.114
3,47,Argentina,6.086,1.092,1.432,0.881,0.471,0.066,0.050
4,116,Armenia,4.559,0.850,1.055,0.815,0.283,0.095,0.064

### Merge the peaceful index with the happiness score

In [11]:
happiness_2019 = happiness_2019.merge(GPI_Overall[["Country", 2019]])
happiness_2019.rename(columns={2019 : "Peaceful Index"}, inplace=True)
happiness_2019

,Overall rank,Country,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Peaceful Index
0,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025,3.569
1,107,Albania,4.719,0.947,0.848,0.874,0.383,0.178,0.027,1.764
2,88,Algeria,5.211,1.002,1.160,0.785,0.086,0.073,0.114,2.240
3,47,Argentina,6.086,1.092,1.432,0.881,0.471,0.066,0.050,1.987
4,116,Armenia,4.559,0.850,1.055,0.815,0.283,0.095,0.064,2.169
...,...,...,...,...,...,...,...,...,...,...
137,108,Venezuela,4.707,0.960,1.427,0.805,0.154,0.064,0.047,2.728
138,94,Vietnam,5.175,0.741,1.346,0.851,0.543,0.147,0.073,1.903
139,151,Yemen,3.380,0.287,1.163,0.463,0.143,0.108,0.077,3.275
140,138,Zambia,4.107,0.578,1.058,0.426,0.431,0.247,0.087,1.824
141,146,Zimbabwe,3.663,0.366,1.114,0.433,0.361,0.151,0.089,2.406

### Import the education score and merge with the happiness dataframe

In [12]:
edu = pd.read_csv("data/Education_index.csv", encoding='latin-1', header=5)
edu.sort_values(by="Country", inplace=True)
edu["Country"] = edu["Country"].str.strip()
edu_2019 = edu[["Country", "2019"]]
happiness_2019 = happiness_2019.merge(edu[["Country", "2019"]])
happiness_2019.rename(columns={"2019" : "Education"}, inplace=True)

### Import the umeployment rate and merge with the happiness dataframe

In [13]:
unemployment = pd.read_csv("data/unemployment.csv", encoding='latin-1', header=2)
unemployment = unemployment[["Country Name", "2019"]]
unemployment["Country Name"] = unemployment["Country Name"].str.strip()
unemployment.rename(columns={"Country Name" : "Country"}, inplace=True)
unemployment.dropna(inplace=True)
unemployment.sort_values(by="Country", inplace=True)
happiness_2019 = happiness_2019.merge(unemployment[["Country", "2019"]])
happiness_2019.rename(columns={"2019" : "Unemployment Rate"}, inplace=True)
happiness_2019

,Overall rank,Country,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Peaceful Index,Education,Unemployment Rate
0,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025,3.569,0.414,11.217
1,107,Albania,4.719,0.947,0.848,0.874,0.383,0.178,0.027,1.764,0.746,11.470
2,88,Algeria,5.211,1.002,1.160,0.785,0.086,0.073,0.114,2.240,0.672,10.513
3,47,Argentina,6.086,1.092,1.432,0.881,0.471,0.066,0.050,1.987,0.855,9.840
4,116,Armenia,4.559,0.850,1.055,0.815,0.283,0.095,0.064,2.169,0.740,18.300
...,...,...,...,...,...,...,...,...,...,...,...,...
120,15,United Kingdom,7.054,1.333,1.538,0.996,0.450,0.348,0.278,1.717,0.928,3.740
121,33,Uruguay,6.293,1.124,1.465,0.891,0.523,0.127,0.150,1.700,0.765,8.880
122,41,Uzbekistan,6.174,0.745,1.529,0.756,0.631,0.322,0.240,2.074,0.729,5.850
123,138,Zambia,4.107,0.578,1.058,0.426,0.431,0.247,0.087,1.824,0.557,12.520
124,146,Zimbabwe,3.663,0.366,1.114,0.433,0.361,0.151,0.089,2.406,0.587,4.833

### Extract the necessary columns from the happiness score dataframe

In [14]:
_2019 = happiness_2019[["Country", "Healthy life expectancy", "Score", "Peaceful Index", "Education", "Unemployment Rate"]]
_2019.rename(columns={"Healthy life expectancy" : "Healthy Life Expectancy", "Score" : "Happiness Score"}, inplace=True)
_2019

/Users/pingdaoxunye/opt/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,Country,Healthy Life Expectancy,Happiness Score,Peaceful Index,Education,Unemployment Rate
0,Afghanistan,0.361,3.203,3.569,0.414,11.217
1,Albania,0.874,4.719,1.764,0.746,11.470
2,Algeria,0.785,5.211,2.240,0.672,10.513
3,Argentina,0.881,6.086,1.987,0.855,9.840
4,Armenia,0.815,4.559,2.169,0.740,18.300
...,...,...,...,...,...,...
120,United Kingdom,0.996,7.054,1.717,0.928,3.740
121,Uruguay,0.891,6.293,1.700,0.765,8.880
122,Uzbekistan,0.756,6.174,2.074,0.729,5.850
123,Zambia,0.426,4.107,1.824,0.557,12.520
124,Zimbabwe,0.433,3.663,2.406,0.587,4.833

### Save the dataframe to the data folder as a csv file

In [15]:
_2019.to_csv("data/raw_2019.csv")